<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Edit blog Post{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}

    {% if user.is_authenticated and post.author.id == user.id or user.id == 1 %}

        <div class="mb-3">
        <h1>Update Post...</h1>
        <br/><br/>
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        <div class="mb-3">

    {% else %}

        <h1>OPS... something went wrong...</h1>
        <hr>
        <br/>
        <p>Try re-login to edit post. Or you might not have permition to do that.</p>


    {% endif %}

    {% endblock %}
</body>
</html>